<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diich.mapper.AuditMapper" >
  <resultMap id="BaseResultMap" type="com.diich.core.model.Audit" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="target_type" property="targetType" jdbcType="INTEGER" />
    <result column="target_id" property="targetId" jdbcType="BIGINT" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="audit_date" property="auditDate" jdbcType="TIMESTAMP" />
    <result column="audit_user_id" property="auditUserId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, target_type, target_id, reason, status, audit_date, audit_user_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from audit
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from audit
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.diich.core.model.Audit" >
    insert into audit (id, target_type, target_id,
    reason, status, audit_date,
    audit_user_id)
    values (#{id,jdbcType=BIGINT}, #{targetType,jdbcType=INTEGER}, #{targetId,jdbcType=BIGINT},
    #{reason,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{auditDate,jdbcType=TIMESTAMP},
    #{auditUserId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.diich.core.model.Audit" >
    insert into audit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="targetType != null" >
        target_type,
      </if>
      <if test="targetId != null" >
        target_id,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="auditDate != null" >
        audit_date,
      </if>
      <if test="auditUserId != null" >
        audit_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="targetType != null" >
        #{targetType,jdbcType=INTEGER},
      </if>
      <if test="targetId != null" >
        #{targetId,jdbcType=BIGINT},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="auditDate != null" >
        #{auditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="auditUserId != null" >
        #{auditUserId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.diich.core.model.Audit" >
    update audit
    <set >
      <if test="targetType != null" >
        target_type = #{targetType,jdbcType=INTEGER},
      </if>
      <if test="targetId != null" >
        target_id = #{targetId,jdbcType=BIGINT},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="auditDate != null" >
        audit_date = #{auditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="auditUserId != null" >
        audit_user_id = #{auditUserId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.diich.core.model.Audit" >
    update audit
    set target_type = #{targetType,jdbcType=INTEGER},
      target_id = #{targetId,jdbcType=BIGINT},
      reason = #{reason,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      audit_date = #{auditDate,jdbcType=TIMESTAMP},
      audit_user_id = #{auditUserId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>