<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diich.mapper.ContentFragmentMapper" >
  <resultMap id="BaseResultMap" type="com.diich.core.model.ContentFragment" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="attribute_id" property="attributeId" jdbcType="BIGINT" />
    <result column="target_id" property="targetId" jdbcType="BIGINT" />
    <result column="target_type" property="targetType" jdbcType="INTEGER" />

    <result column="status" property="status" jdbcType="INTEGER" />

  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.diich.core.model.ContentFragment" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    content_fragment.id, content_fragment.attribute_id, content_fragment.target_id, content_fragment.target_type, content_fragment.status
  </sql>
  <sql id="Blob_Column_List" >
    content_fragment.content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from content_fragment
    where id = #{id,jdbcType=BIGINT} and status = 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from content_fragment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.diich.core.model.ContentFragment" >
    insert into content_fragment (id, attribute_id, target_id,
    target_type,  status,
    content)
    values (#{id,jdbcType=BIGINT}, #{attributeId,jdbcType=BIGINT}, #{targetId,jdbcType=BIGINT},
    #{targetType,jdbcType=INTEGER},  #{status,jdbcType=INTEGER},
    #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.diich.core.model.ContentFragment" >
    insert into content_fragment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="attributeId != null" >
        attribute_id,
      </if>
      <if test="targetId != null" >
        target_id,
      </if>
      <if test="targetType != null" >
        target_type,
      </if>

      <if test="status != null" >
        status,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="attributeId != null" >
        #{attributeId,jdbcType=BIGINT},
      </if>
      <if test="targetId != null" >
        #{targetId,jdbcType=BIGINT},
      </if>
      <if test="targetType != null" >
        #{targetType,jdbcType=INTEGER},
      </if>

      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.diich.core.model.ContentFragment" >
    update content_fragment
    <set >
      <if test="attributeId != null" >
        attribute_id = #{attributeId,jdbcType=BIGINT},
      </if>
      <if test="targetId != null" >
        target_id = #{targetId,jdbcType=BIGINT},
      </if>
      <if test="targetType != null" >
        target_type = #{targetType,jdbcType=INTEGER},
      </if>

      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.diich.core.model.ContentFragment" >
    update content_fragment
    set attribute_id = #{attributeId,jdbcType=BIGINT},
    target_id = #{targetId,jdbcType=BIGINT},
    target_type = #{targetType,jdbcType=INTEGER},

    status = #{status,jdbcType=INTEGER},
    content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.diich.core.model.ContentFragment" >
    update content_fragment
    set attribute_id = #{attributeId,jdbcType=BIGINT},
      target_id = #{targetId,jdbcType=BIGINT},
      target_type = #{targetType,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByTargetIdAndType" parameterType="com.diich.core.model.ContentFragment" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from content_fragment
    left JOIN  attribute on content_fragment.attribute_id = attribute.id
    where content_fragment.target_id = #{targetId} and content_fragment.target_type =#{targetType} and content_fragment.status = 0 and attribute.status = 0 and attribute.is_open = 1
    order by attribute.seq
  </select>
  <select id="selectByTargetIdsAndType" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from content_fragment
    left JOIN  attribute on content_fragment.attribute_id = attribute.id
    where  content_fragment.target_type =#{targetType} and content_fragment.status = 0 and attribute.status = 0 and attribute.is_open = 1 and content_fragment.target_id in
    <foreach collection="TargetIds" item="id" open="(" close=")"
             separator=",">
      #{id}
    </foreach>
    order by attribute.seq
  </select>

  <select id="selectAllAttrByTargetIdAndType" parameterType="com.diich.core.model.ContentFragment" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from content_fragment
    left JOIN  attribute on content_fragment.attribute_id = attribute.id
    where content_fragment.target_id = #{targetId} and content_fragment.target_type =#{targetType} and content_fragment.status = 0 and attribute.status = 0
    order by attribute.seq
  </select>

  <select id="selectByProjectId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
     from content_fragment where target_id = #{projectID,jdbcType=BIGINT} and status = 0
  </select>

  <select id="selectByAttIdAndContent" resultMap="BaseResultMap" parameterType="com.diich.core.model.ContentFragment">
    select * from content_fragment where content = #{content,jdbcType=LONGVARCHAR} and attribute_id = #{attributeId,jdbcType=BIGINT} and status = 0
  </select>
  <select id="selectByAttrIdAndTargetId" resultMap="BaseResultMap" parameterType="com.diich.core.model.ContentFragment">
    select * from content_fragment where target_id = #{targetId,jdbcType=LONGVARCHAR} and attribute_id = #{attributeId,jdbcType=BIGINT} and target_type = #{targetType,jdbcType=INTEGER} and status = 0
  </select>

</mapper>