<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diich.mapper.ContentFragmentMapper" >
  <resultMap id="BaseResultMap" type="com.diich.core.model.ContentFragment" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="attribute_id" property="attributeId" jdbcType="BIGINT" />
    <result column="target_id" property="targetId" jdbcType="BIGINT" />
    <result column="target_type" property="targetType" jdbcType="INTEGER" />
    <result column="field_type" property="fieldType" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.diich.core.model.ContentFragment" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, attribute_id, target_id, target_type, field_type, status
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from content_fragment
    where id = #{id,jdbcType=BIGINT} and status = 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from content_fragment
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.diich.core.model.ContentFragment" >
    insert into content_fragment (id, attribute_id, target_id,
    target_type, field_type, status,
    content)
    values (#{id,jdbcType=BIGINT}, #{attributeId,jdbcType=BIGINT}, #{targetId,jdbcType=BIGINT},
    #{targetType,jdbcType=INTEGER}, #{fieldType,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
    #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.diich.core.model.ContentFragment" >
    insert into content_fragment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="attributeId != null" >
        attribute_id,
      </if>
      <if test="targetId != null" >
        target_id,
      </if>
      <if test="targetType != null" >
        target_type,
      </if>
      <if test="fieldType != null" >
        field_type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="attributeId != null" >
        #{attributeId,jdbcType=BIGINT},
      </if>
      <if test="targetId != null" >
        #{targetId,jdbcType=BIGINT},
      </if>
      <if test="targetType != null" >
        #{targetType,jdbcType=INTEGER},
      </if>
      <if test="fieldType != null" >
        #{fieldType,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.diich.core.model.ContentFragment" >
    update content_fragment
    <set >
      <if test="attributeId != null" >
        attribute_id = #{attributeId,jdbcType=BIGINT},
      </if>
      <if test="targetId != null" >
        target_id = #{targetId,jdbcType=BIGINT},
      </if>
      <if test="targetType != null" >
        target_type = #{targetType,jdbcType=INTEGER},
      </if>
      <if test="fieldType != null" >
        field_type = #{fieldType,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.diich.core.model.ContentFragment" >
    update content_fragment
    set attribute_id = #{attributeId,jdbcType=BIGINT},
    target_id = #{targetId,jdbcType=BIGINT},
    target_type = #{targetType,jdbcType=INTEGER},
    field_type = #{fieldType,jdbcType=INTEGER},
    status = #{status,jdbcType=INTEGER},
    content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.diich.core.model.ContentFragment" >
    update content_fragment
    set attribute_id = #{attributeId,jdbcType=BIGINT},
      target_id = #{targetId,jdbcType=BIGINT},
      target_type = #{targetType,jdbcType=INTEGER},
      field_type = #{fieldType,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByTargetIdAndType" parameterType="com.diich.core.model.ContentFragment" resultMap="BaseResultMap">
    select * from content_fragment where target_id = #{targetId} and target_type =#{targetType} and status = 0
  </select>

  <select id="selectByProjectId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select * from content_fragment where target_id = #{projectID,jdbcType=BIGINT} and status = 0
  </select>

  <select id="queryForSearchPage" resultType="com.diich.core.model.ContentFragment" parameterType="java.util.Map">

    SELECT DISTINCT * FROM (

    SELECT  target_id as targetId, target_type as targetType
    FROM
    (
    (SELECT DISTINCT a.priority,a.target_type, c.target_id
    from content_fragment c
    LEFT JOIN attribute a on c.attribute_id = a.id
    LEFT JOIN dictionary d on a.data_type = d.type and d.code = c.content
    LEFT JOIN ich_project ip on a.target_type = 0 AND ip.id = c.target_id
    LEFT JOIN ich_category ic on ic.id = ip.ich_category_id
    where (d.type != 101)

    <if test="keyword != null" >
      AND  d.name LIKE  CONCAT('%',#{keyword,jdbcType=VARCHAR},'%')
    </if>
    <if test="type != null" >
      AND a.target_type = #{type,jdbcType=INTEGER}
    </if>

    <if test="gb_category_code != null" >
      AND ic.gb_category LIKE CONCAT(#{gb_category_code,jdbcType=VARCHAR},'%')
    </if>

    )
    UNION
    (SELECT DISTINCT
    CASE
    WHEN c.content = #{keyword,jdbcType=VARCHAR} THEN a.priority - 0.5
    ELSE a.priority
    END priority,
    a.target_type as targetType, c.target_id as targetId
    from content_fragment c
    LEFT JOIN attribute a on c.attribute_id = a.id
    LEFT JOIN ich_project ip on a.target_type = 0 AND ip.id = c.target_id
    LEFT JOIN ich_category ic on ic.id = ip.ich_category_id
    where 1=1

    <if test="keyword != null" >
      AND  c.content LIKE CONCAT('%',#{keyword,jdbcType=VARCHAR},'%')
    </if>

    <if test="type != null" >
      AND a.target_type = #{type,jdbcType=INTEGER}
    </if>
    <if test="gb_category_code != null" >
      AND ic.gb_category LIKE CONCAT(#{gb_category_code,jdbcType=VARCHAR},'%')
    </if>

    )
    ) u  ORDER BY priority ) u2 LIMIT #{pageBegin,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER};



  </select>

  <select id="queryForSearchCount" parameterType="java.util.Map" resultType="java.lang.Integer">

    SELECT count(*) FROM (
    SELECT DISTINCT target_id, target_type
    FROM
    (
    (SELECT a.target_type, c.target_id
    from content_fragment c
    LEFT JOIN attribute a on c.attribute_id = a.id
    LEFT JOIN dictionary d on a.data_type = d.type and d.code = c.content
    LEFT JOIN ich_project ip on a.target_type = 0 AND ip.id = c.target_id
    LEFT JOIN ich_category ic on ic.id = ip.ich_category_id
    where 1=1    AND (d.type != 101)

    <if test="keyword != null" >
      AND  d.name LIKE  CONCAT('%',#{keyword,jdbcType=VARCHAR},'%')
    </if>

    <if test="type != null" >
      AND a.target_type = #{type,jdbcType=INTEGER}
    </if>

    <if test="gb_category_code != null" >
      AND ic.gb_category LIKE CONCAT(#{gb_category_code,jdbcType=VARCHAR},'%')
    </if>

    )
    UNION
    (SELECT

    a.target_type, c.target_id
    from content_fragment c
    LEFT JOIN attribute a on c.attribute_id = a.id
    LEFT JOIN ich_project ip on a.target_type = 0 AND ip.id = c.target_id
    LEFT JOIN ich_category ic on ic.id = ip.ich_category_id
    where 1=1

    <if test="keyword != null" >
      AND  c.content LIKE CONCAT('%',#{keyword,jdbcType=VARCHAR},'%')
    </if>

    <if test="type != null" >
      AND a.target_type = #{type,jdbcType=INTEGER}
    </if>
    <if test="gb_category_code != null" >
      AND ic.gb_category LIKE CONCAT(#{gb_category_code,jdbcType=VARCHAR},'%')
    </if>

    )
    ) u) records


  </select>

  <select id="queryByTargetIDAndType" resultType="BaseResultMap" parameterType="com.diich.core.model.ContentFragment">
    select
    <include refid="Base_Column_List" />
    from content_fragment
    where target_type = #{targetType,jdbcType=BIGINT} AND target_id = #{targetId,jdbcType=BIGINT}
  </select>

  <select id="queryListByTargetId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from content_fragment
    where target_id = #{target_id,jdbcType=BIGINT}
  </select>

  <select id="queryForSearch" resultType="com.diich.core.model.ContentFragment" parameterType="java.util.Map">
    {call search(#{keyword,jdbcType=VARCHAR,mode=IN}, #{type,jdbcType=INTEGER,mode=IN},NULL ,NULL )}
  </select>

</mapper>