<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diich.mapper.IchProjectMapper" >
  <resultMap id="BaseResultMap" type="com.diich.core.model.IchProject" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="ich_category_id" property="ichCategoryId" jdbcType="BIGINT" />
    <result column="last_editor_id" property="lastEditorId" jdbcType="BIGINT" />
    <result column="last_edit_date" property="lastEditDate" jdbcType="TIMESTAMP" />
    <result column="edit_rank" property="editRank" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="uri" property="uri" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, ich_category_id, last_editor_id, last_edit_date, edit_rank, status, uri
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from ich_project
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ich_project
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.diich.core.model.IchProject" >
    insert into ich_project (id, ich_category_id, last_editor_id,
    last_edit_date, edit_rank, status,
    uri)
    values (#{id,jdbcType=BIGINT}, #{ichCategoryId,jdbcType=BIGINT}, #{lastEditorId,jdbcType=BIGINT},
    #{lastEditDate,jdbcType=TIMESTAMP}, #{editRank,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
    #{uri,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.diich.core.model.IchProject" >
    insert into ich_project
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="ichCategoryId != null" >
        ich_category_id,
      </if>
      <if test="lastEditorId != null" >
        last_editor_id,
      </if>
      <if test="lastEditDate != null" >
        last_edit_date,
      </if>
      <if test="editRank != null" >
        edit_rank,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="uri != null" >
        uri,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="ichCategoryId != null" >
        #{ichCategoryId,jdbcType=BIGINT},
      </if>
      <if test="lastEditorId != null" >
        #{lastEditorId,jdbcType=BIGINT},
      </if>
      <if test="lastEditDate != null" >
        #{lastEditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="editRank != null" >
        #{editRank,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="uri != null" >
        #{uri,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.diich.core.model.IchProject" >
    update ich_project
    <set >
      <if test="ichCategoryId != null" >
        ich_category_id = #{ichCategoryId,jdbcType=BIGINT},
      </if>
      <if test="lastEditorId != null" >
        last_editor_id = #{lastEditorId,jdbcType=BIGINT},
      </if>
      <if test="lastEditDate != null" >
        last_edit_date = #{lastEditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="editRank != null" >
        edit_rank = #{editRank,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="uri != null" >
        uri = #{uri,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.diich.core.model.IchProject" >
    update ich_project
    set ich_category_id = #{ichCategoryId,jdbcType=BIGINT},
      last_editor_id = #{lastEditorId,jdbcType=BIGINT},
      last_edit_date = #{lastEditDate,jdbcType=TIMESTAMP},
      edit_rank = #{editRank,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      uri = #{uri,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>