<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diich.mapper.ResourceMapper" >
  <resultMap id="BaseResultMap" type="com.diich.core.model.Resource" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="uri" property="uri" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, uri, status, description
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from resource
    where id = #{id,jdbcType=BIGINT} and status = 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from resource
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.diich.core.model.Resource" >
    insert into resource (id, type, uri,
    status, description)
    values (#{id,jdbcType=BIGINT}, #{type,jdbcType=INTEGER}, #{uri,jdbcType=VARCHAR},
    #{status,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.diich.core.model.Resource" >
    insert into resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="uri != null" >
        uri,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="uri != null" >
        #{uri,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.diich.core.model.Resource" >
    update resource
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="uri != null" >
        uri = #{uri,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.diich.core.model.Resource" >
    update resource
    set type = #{type,jdbcType=INTEGER},
      uri = #{uri,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByContentFramentID" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    r.uri,r.id
    from content_fragment_resource cf  LEFT JOIN resource r ON r.id = cf.resource_id
    where cf.content_fragment_id = #{contentFragmentId,jdbcType=BIGINT}
  </select>

  <select id="selectByContentFragmentId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    *
    from content_fragment_resource cf  LEFT JOIN resource r ON r.id = cf.resource_id
    where cf.content_fragment_id = #{id,jdbcType=BIGINT}
  </select>


  <select id="selectByids" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from resource
    where status = 0 and id in
    <foreach collection="list" item="id" open="(" close=")"
             separator=",">
      #{id}
    </foreach>
  </select>
</mapper>