<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.diich.mapper.SearchTableMapper">
  <resultMap id="BaseResultMap" type="com.diich.core.model.SearchTable">
    <id column="id" jdbcType="BIGINT" property="id" />
    <id column="type" jdbcType="INTEGER" property="type" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="category_name" jdbcType="VARCHAR" property="category_name" />
    <result column="area_name" jdbcType="VARCHAR" property="area_name" />
    <result column="category_code" jdbcType="VARCHAR" property="category_code" />
    <result column="area_code" jdbcType="VARCHAR" property="area_code" />
    <result column="lang" jdbcType="VARCHAR" property="lang" />
    <result column="doi" jdbcType="VARCHAR" property="doi" />
    <result column="imgUrl" jdbcType="VARCHAR" property="imgUrl" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.diich.core.model.SearchTable">
    <result column="summary" jdbcType="LONGVARCHAR" property="summary" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type, title, category_name, area_name, category_code, area_code, lang, doi, imgUrl
  </sql>
  <sql id="Blob_Column_List">
    summary
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.diich.core.model.SearchTableKey" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from search_table
    where id = #{id,jdbcType=BIGINT}
      and type = #{type,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.diich.core.model.SearchTableKey">
    delete from search_table
    where id = #{id,jdbcType=BIGINT}
      and type = #{type,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.diich.core.model.SearchTable">
    insert into search_table (id, type, title, 
      category_name, area_name, category_code, 
      area_code, lang, doi, 
      imgUrl, summary)
    values (#{id,jdbcType=BIGINT}, #{type,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{category_name,jdbcType=VARCHAR}, #{area_name,jdbcType=VARCHAR}, #{category_code,jdbcType=VARCHAR}, 
      #{area_code,jdbcType=VARCHAR}, #{lang,jdbcType=VARCHAR}, #{doi,jdbcType=VARCHAR}, 
      #{imgUrl,jdbcType=VARCHAR}, #{summary,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.diich.core.model.SearchTable">
    insert into search_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="category_name != null">
        category_name,
      </if>
      <if test="area_name != null">
        area_name,
      </if>
      <if test="category_code != null">
        category_code,
      </if>
      <if test="area_code != null">
        area_code,
      </if>
      <if test="lang != null">
        lang,
      </if>
      <if test="doi != null">
        doi,
      </if>
      <if test="imgUrl != null">
        imgUrl,
      </if>
      <if test="summary != null">
        summary,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="category_name != null">
        #{category_name,jdbcType=VARCHAR},
      </if>
      <if test="area_name != null">
        #{area_name,jdbcType=VARCHAR},
      </if>
      <if test="category_code != null">
        #{category_code,jdbcType=VARCHAR},
      </if>
      <if test="area_code != null">
        #{area_code,jdbcType=VARCHAR},
      </if>
      <if test="lang != null">
        #{lang,jdbcType=VARCHAR},
      </if>
      <if test="doi != null">
        #{doi,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.diich.core.model.SearchTable">
    update search_table
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="category_name != null">
        category_name = #{category_name,jdbcType=VARCHAR},
      </if>
      <if test="area_name != null">
        area_name = #{area_name,jdbcType=VARCHAR},
      </if>
      <if test="category_code != null">
        category_code = #{category_code,jdbcType=VARCHAR},
      </if>
      <if test="area_code != null">
        area_code = #{area_code,jdbcType=VARCHAR},
      </if>
      <if test="lang != null">
        lang = #{lang,jdbcType=VARCHAR},
      </if>
      <if test="doi != null">
        doi = #{doi,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        imgUrl = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        summary = #{summary,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
      and type = #{type,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.diich.core.model.SearchTable">
    update search_table
    set title = #{title,jdbcType=VARCHAR},
      category_name = #{category_name,jdbcType=VARCHAR},
      area_name = #{area_name,jdbcType=VARCHAR},
      category_code = #{category_code,jdbcType=VARCHAR},
      area_code = #{area_code,jdbcType=VARCHAR},
      lang = #{lang,jdbcType=VARCHAR},
      doi = #{doi,jdbcType=VARCHAR},
      imgUrl = #{imgUrl,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
      and type = #{type,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.diich.core.model.SearchTable">
    update search_table
    set title = #{title,jdbcType=VARCHAR},
      category_name = #{category_name,jdbcType=VARCHAR},
      area_name = #{area_name,jdbcType=VARCHAR},
      category_code = #{category_code,jdbcType=VARCHAR},
      area_code = #{area_code,jdbcType=VARCHAR},
      lang = #{lang,jdbcType=VARCHAR},
      doi = #{doi,jdbcType=VARCHAR},
      imgUrl = #{imgUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
      and type = #{type,jdbcType=INTEGER}
  </update>


  <!--
  搜索条件查询规范
  关键词 权重  title  匹配 7

  -->

  <select id="queryByMap" resultType="BaseResultMap" parameterType="java.util.Map">

    select
    <if test="keyword != null">
      CASE
      WHEN  s.title LIKE CONCAT('%',#{keyword,jdbcType=VARCHAR},'%')  THEN 100
      WHEN  s.category_name LIKE CONCAT('%',#{keyword,jdbcType=VARCHAR},'%') OR s.category_code LIKE CONCAT('%',#{keyword,jdbcType=VARCHAR},'%')  THEN 50
      WHEN  s.summary LIKE CONCAT('%',#{keyword,jdbcType=VARCHAR},'%')  THEN 30
      WHEN  s.area_name LIKE CONCAT('%',#{keyword,jdbcType=VARCHAR},'%') OR s.area_code LIKE CONCAT('%',#{keyword,jdbcType=VARCHAR},'%')   THEN 10
      ELSE  0
      END  AS orderkey,
    </if>
    s.title,s.summary,s.category_name,s.imgUrl,s.doi,s.type

    FROM  search_table s WHERE 1=1
    <if test="type != null" >
      AND s.type = #{type,jdbcType=INTEGER}
    </if>

    <if test="gb_category_code != null" >
      AND #{gb_category_code,jdbcType=VARCHAR} in (s.category_code)
    </if>

    <if test="area_code != null" >
     AND #{area_code,jdbcType=VARCHAR} in (s.area_code)
    </if>

    <if test="keyword != null">
    AND (s.title LIKE CONCAT('%',#{keyword,jdbcType=VARCHAR},'%')
      OR  s.category_name LIKE CONCAT('%',#{keyword,jdbcType=VARCHAR},'%')
      OR  s.category_code LIKE CONCAT('%',#{keyword,jdbcType=VARCHAR},'%')
      OR  s.summary LIKE CONCAT('%',#{keyword,jdbcType=VARCHAR},'%')
      OR  s.area_name LIKE CONCAT('%',#{keyword,jdbcType=VARCHAR},'%')
      OR  s.area_code LIKE CONCAT('%',#{keyword,jdbcType=VARCHAR},'%')
      )
    </if>

  <if test="keyword != null">
    ORDER by orderkey DESC
  </if>

    LIMIT #{pageBegin,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER};

  </select>

  <select id="queryByMapCount" resultType="java.lang.Integer" parameterType="java.util.Map">

    select
    count(1)
    FROM  search_table s WHERE 1=1
    <if test="type != null" >
      AND s.type = #{type,jdbcType=INTEGER}
    </if>

    <if test="gb_category_code != null" >
      AND #{gb_category_code,jdbcType=VARCHAR} in (s.category_code)
    </if>

    <if test="area_code != null" >
      AND #{area_code,jdbcType=VARCHAR} in (s.area_code)
    </if>

    <if test="keyword != null">
      AND (s.title LIKE CONCAT('%',#{keyword,jdbcType=VARCHAR},'%')
      OR  s.category_name LIKE CONCAT('%',#{keyword,jdbcType=VARCHAR},'%')
      OR  s.category_code LIKE CONCAT('%',#{keyword,jdbcType=VARCHAR},'%')
      OR  s.summary LIKE CONCAT('%',#{keyword,jdbcType=VARCHAR},'%')
      OR  s.area_name LIKE CONCAT('%',#{keyword,jdbcType=VARCHAR},'%')
      OR  s.area_code LIKE CONCAT('%',#{keyword,jdbcType=VARCHAR},'%')
      )
    </if>

  </select>


</mapper>