<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diich.mapper.SearchMapper" >
  <resultMap id="recordCount" type="Integer">
    <result column="record_count" jdbcType="INTEGER" javaType="Integer" />
  </resultMap>

  <resultMap id="BaseResultMap" type="com.diich.core.model.Search" >
    <result column="target_id" property="targetId" jdbcType="BIGINT" />
    <result column="target_type" property="targetType" jdbcType="INTEGER" />
  </resultMap>

  <select id="queryForSearch" resultMap="BaseResultMap" parameterType="com.alibaba.fastjson.JSONObject">
    {call search_content(#{keyword,jdbcType=VARCHAR,mode=IN}, #{type,jdbcType=INTEGER,mode=IN},#{category,jdbcType=VARCHAR,mode=IN} ,#{area,jdbcType=VARCHAR,mode=IN},#{offset,jdbcType=INTEGER,mode=IN},#{limit,jdbcType=INTEGER,mode=IN} )}
  </select>
  <select id="queryForCount" resultType="java.lang.Integer" parameterType="com.alibaba.fastjson.JSONObject">
    {call search_data_count(#{keyword,jdbcType=VARCHAR,mode=IN}, #{type,jdbcType=INTEGER,mode=IN},#{category,jdbcType=VARCHAR,mode=IN} ,#{area,jdbcType=VARCHAR,mode=IN})}
  </select>

  <!--<select id="searchList"  parameterType="java.util.Map"  resultMap="BaseResultMap, recordCount" >
    {call search(#{keyword,jdbcType=VARCHAR,mode=IN}, #{type,jdbcType=INTEGER,mode=IN},#{category,jdbcType=VARCHAR,mode=IN} ,
    #{area,jdbcType=VARCHAR,mode=IN})}
  </select>-->

</mapper>