<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diich.mapper.VersionMapper" >
  <resultMap id="BaseResultMap" type="com.diich.core.model.Version" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="target_type" property="targetType" jdbcType="INTEGER" />
    <result column="branch_version_id" property="branchVersionId" jdbcType="BIGINT" />
    <result column="main_version_id" property="mainVersionId" jdbcType="BIGINT" />
    <result column="version_type" property="versionType" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, target_type, branch_version_id, main_version_id, version_type, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from version
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from version
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.diich.core.model.Version" >
    insert into version (id, target_type, branch_version_id,
    main_version_id, version_type, status
    )
    values (#{id,jdbcType=BIGINT}, #{targetType,jdbcType=INTEGER}, #{branchVersionId,jdbcType=BIGINT},
    #{mainVersionId,jdbcType=BIGINT}, #{versionType,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.diich.core.model.Version" >
    insert into version
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="targetType != null" >
        target_type,
      </if>
      <if test="branchVersionId != null" >
        branch_version_id,
      </if>
      <if test="mainVersionId != null" >
        main_version_id,
      </if>
      <if test="versionType != null" >
        version_type,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="targetType != null" >
        #{targetType,jdbcType=INTEGER},
      </if>
      <if test="branchVersionId != null" >
        #{branchVersionId,jdbcType=BIGINT},
      </if>
      <if test="mainVersionId != null" >
        #{mainVersionId,jdbcType=BIGINT},
      </if>
      <if test="versionType != null" >
        #{versionType,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.diich.core.model.Version" >
    update version
    <set >
      <if test="targetType != null" >
        target_type = #{targetType,jdbcType=INTEGER},
      </if>
      <if test="branchVersionId != null" >
        branch_version_id = #{branchVersionId,jdbcType=BIGINT},
      </if>
      <if test="mainVersionId != null" >
        main_version_id = #{mainVersionId,jdbcType=BIGINT},
      </if>
      <if test="versionType != null" >
        version_type = #{versionType,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.diich.core.model.Version" >
    update version
    set target_type = #{targetType,jdbcType=INTEGER},
      branch_version_id = #{branchVersionId,jdbcType=BIGINT},
      main_version_id = #{mainVersionId,jdbcType=BIGINT},
      version_type = #{versionType,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectVersionByLangIdAndTargetType" parameterType="com.diich.core.model.Version" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from version where status =0
    <if test="targetType != null" >
     and  target_type = #{targetType,jdbcType=INTEGER}
    </if>
    <if test="branchVersionId != null" >
      and branch_version_id = #{branchVersionId,jdbcType=BIGINT}
    </if>
    <if test="mainVersionId != null" >
     and  main_version_id = #{mainVersionId,jdbcType=BIGINT}
    </if>
    <if test="versionType != null" >
      and version_type = #{versionType,jdbcType=INTEGER}
    </if>
  </select>
</mapper>