<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.diich.mapper.WorksMapper" >
  <resultMap id="BaseResultMap" type="com.diich.core.model.Works" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="last_editor_id" property="lastEditorId" jdbcType="BIGINT" />
    <result column="ich_project_id" property="ichProjectId" jdbcType="BIGINT" />
    <result column="ich_master_id" property="ichMasterId" jdbcType="BIGINT" />
    <result column="last_edit_date" property="lastEditDate" jdbcType="TIMESTAMP" />
    <result column="edit_rank" property="editRank" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="uri" property="uri" jdbcType="VARCHAR" />
    <result column="lang" property="lang" jdbcType="CHAR" />
    <result column="is_represent" property="isRepresent" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, last_editor_id, ich_project_id, ich_master_id, last_edit_date, edit_rank, status,
    uri, lang, is_represent
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from works
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from works
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.diich.core.model.Works" >
    insert into works (id, last_editor_id, ich_project_id,
    ich_master_id, last_edit_date, edit_rank,
    status, uri, lang, is_represent
    )
    values (#{id,jdbcType=BIGINT}, #{lastEditorId,jdbcType=BIGINT}, #{ichProjectId,jdbcType=BIGINT},
    #{ichMasterId,jdbcType=BIGINT}, #{lastEditDate,jdbcType=TIMESTAMP}, #{editRank,jdbcType=INTEGER},
    #{status,jdbcType=INTEGER}, #{uri,jdbcType=VARCHAR}, #{lang,jdbcType=CHAR}, #{isRepresent,jdbcType=INTEGER}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.diich.core.model.Works" >
    insert into works
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="lastEditorId != null" >
        last_editor_id,
      </if>
      <if test="ichProjectId != null" >
        ich_project_id,
      </if>
      <if test="ichMasterId != null" >
        ich_master_id,
      </if>
      <if test="lastEditDate != null" >
        last_edit_date,
      </if>
      <if test="editRank != null" >
        edit_rank,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="uri != null" >
        uri,
      </if>
      <if test="lang != null" >
        lang,
      </if>
      <if test="isRepresent != null" >
        is_represent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="lastEditorId != null" >
        #{lastEditorId,jdbcType=BIGINT},
      </if>
      <if test="ichProjectId != null" >
        #{ichProjectId,jdbcType=BIGINT},
      </if>
      <if test="ichMasterId != null" >
        #{ichMasterId,jdbcType=BIGINT},
      </if>
      <if test="lastEditDate != null" >
        #{lastEditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="editRank != null" >
        #{editRank,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="uri != null" >
        #{uri,jdbcType=VARCHAR},
      </if>
      <if test="lang != null" >
        #{lang,jdbcType=CHAR},
      </if>
      <if test="isRepresent != null" >
        #{isRepresent,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.diich.core.model.Works" >
    update works
    <set >
      <if test="lastEditorId != null" >
        last_editor_id = #{lastEditorId,jdbcType=BIGINT},
      </if>
      <if test="ichProjectId != null" >
        ich_project_id = #{ichProjectId,jdbcType=BIGINT},
      </if>
      <if test="ichMasterId != null" >
        ich_master_id = #{ichMasterId,jdbcType=BIGINT},
      </if>
      <if test="lastEditDate != null" >
        last_edit_date = #{lastEditDate,jdbcType=TIMESTAMP},
      </if>
      <if test="editRank != null" >
        edit_rank = #{editRank,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="uri != null" >
        uri = #{uri,jdbcType=VARCHAR},
      </if>
      <if test="lang != null" >
        lang = #{lang,jdbcType=CHAR},
      </if>
      <if test="isRepresent != null" >
        is_represent = #{isRepresent,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.diich.core.model.Works" >
    update works
    set last_editor_id = #{lastEditorId,jdbcType=BIGINT},
      ich_project_id = #{ichProjectId,jdbcType=BIGINT},
      ich_master_id = #{ichMasterId,jdbcType=BIGINT},
      last_edit_date = #{lastEditDate,jdbcType=TIMESTAMP},
      edit_rank = #{editRank,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      uri = #{uri,jdbcType=VARCHAR},
      lang = #{lang,jdbcType=CHAR},
      is_represent = #{isRepresent,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectWorks" parameterType="com.diich.core.model.Works" resultMap="BaseResultMap">
  select * from works where 1=1
    <if test="ichProjectId != null" >
    and ich_project_id = #{ichProjectId,jdbcType=BIGINT}
    </if>
    <if test="ichMasterId != null" >
      and ich_master_id = #{ichMasterId,jdbcType=BIGINT}
    </if>
    <if test="isRepresent != null" >
      and is_represent = #{isRepresent,jdbcType=INTEGER}
    </if>
  </select>
</mapper>