.mainbg .content{
	filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    
    -webkit-filter: blur(30px); /* Chrome, Opera */
       -moz-filter: blur(30px);
        -ms-filter: blur(30px);    
            filter: blur(30px);
    
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=30, MakeShadow=false); /* IE6~IE9 */
}
.cover{
	width: 100%;
	height: 100%;
	background: #000000;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.8;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
    z-index: 1;
}
.content_img{
	width: 1170px;
	height: 100%;
	position: absolute;
	left: 50%;
	margin-left: -585px;
	top: 0;
	z-index: 2;
	/*background: #FFF2F2;*/
	box-sizing: border-box;
	padding-bottom: 120px;
}
.content_img ul{
	width: 100%;
	height: 100%;
	/*overflow: hidden;*/
	position: relative;
}
.content_img ul li{
	width: 610px;
	height: 100%;
	float: left;
	box-sizing: border-box;
	margin-top: 80px;
}
.content_img ul li.active {
	width: 560px;
	height: 420px;
	
}

.content_img ul li.active img {
	width: 100%;
	height: 100%;
}
.content_img ul li.padd{
	padding-left: 48px;	
}
.content_img ul li div{
	width: 100%;
	/*height: 50%;*/
	box-sizing: border-box;
	word-break: break-word;
}
.content_img ul li div h2{
	font-size: 44px;
	color: #F3E4DB;
	font-weight: bold;
	line-height: 64px;
	margin-top: 40px;
	margin-bottom: 8px;
}
.content_img ul li div.active1 p{
	width: 100%;
	font-size: 16px;
	color: #777777;
	line-height: 32px;
	overflow: hidden;
} 
.content_img ul li div.active1 p em{
	float: left;
	width: 50px;
}
.content_img ul li div.active1 p span{
	float: left;
	width: 506px;
}



.content_img ul li div.active2{
	margin-top: 40px;
}
.content_img ul li div.active2 div{
	height: auto;
	padding-bottom: 8px;
}
.content_img ul li div.active2 h3{
	display: inline-block;
	font-size: 20px;
	color: #FFFFFF;
	font-weight: 400;
	line-height: 32px;
	position: relative;
}
.content_img ul li div.active2 h3 b{
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 5px;
	right: -30px;
}
.content_img ul li div.active2 h3 b img{
	width: 100%;
	height: 100%;
}
.content_img ul li div.active2 p.active{
	margin-left: 0;
}
.content_img ul li div.active2 p{
	display: inline-block;
	font-size: 16px;
	color: #777777;
	line-height: 32px;
	margin-left: 50px;
}


/*id编码*/
.content_img ul .idma{
	position: absolute;
    right: 0;
    top: 40px;
    margin-top: 0; 
    zoom: 1;
}
.content_img ul .idma p{
    /*float: left;*/
    height: 32px;
    background: #4283EA;
    zoom: 1;
    box-sizing: border-box;
    padding: 0px 7px;
    line-height: 32px;
}
.content_img ul .idma p b{
    display: block;
    width: 26px;
    height: 16px;
    float: left;
    margin-top: 3px;
}
.content_img ul .idma p b img{
	width: 100%;
	height: 100%;
}
.content_img ul .idma p strong{
    float: left;
    margin-left: 5px;
}
.content_img ul .idma p strong span{
    font-size: 12px;
    color: #FFFFFF;
}
.content_img ul .idma p em {
    float: left;
    display: block;
    width: 18px;
    height: 18px;
    margin-top: 3px;
    margin-left: 5px;

}
.content_img ul .idma p em img {
	width: 100%;
	height: 100%;
}

/*收藏/分享*/
.content_img ul .share{
	width: 100%;
	text-align: right;
	position: absolute;
	bottom: -44px;
	left: 0;
	color: #FFF2F2;
	overflow: hidden;
}
.content_img ul .share p{
	float: right;
	overflow: hidden;
}
.content_img ul .share p.active{
	margin-left: 35px;
}
.content_img ul .share p em{
	display: block;
	float: left;
	width: 18px;
	height: 18px;
	margin-top: 4px;
	margin-right: 10px;
	cursor: pointer;
}
.content_img ul .share p em img {
	width: 100%;
	height: 100%;
}
.content_img ul .share p strong {
	float: left;
	font-size: 14px;
	color: #FFFFFF;
	line-height: 24px;
}

.detail .mainbg img {
	position: inherit!important;
}

.card_base {
	margin-top: 557px!important;
}

