.link {
    color:rgb(66,131,235);
    font-size: 16px;
    padding: 0px 4px;
    cursor: pointer;
    font-weight: normal;
    float:right;
}

.primary.edit.link {
    right: 8px;
    font-size: 14px;
    float:none!important;
    /*color: #333;*/
}

.section>.inner {
    display:inline-block;
}

i.icon {
    padding-right: 0px;
}

.edit-project-tool-bar {
    border-top:solid #eee 1px;
    text-align: center;
    position: fixed;
    z-index: 100;
    width: 100%;
    background: white;
}

.edit-project-tool-bar>.inner {
    width:1200px;
    text-align: right;
    margin: 25px auto;

}

.ui.button {
    margin-right: 1em!important;
    border-radius: 2px!important;
}

i {
    padding-right: 8px;
}

.editor {
    margin-bottom: 30px;
}

/* .detail_title .edit {
    position: inherit;
    top: 0px;
} */

.edui-default .edui-editor-bottomContainer td {
    border-top: none!important;
}

.edui-default .edui-editor-toolbarboxouter {
    border-bottom: none!important;
    background-color:#fff!important;
    background-image:none!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
}

.edui-default .edui-editor-toolbarbox {
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
}

.edui-default .edui-editor {
    border: none!important;
}

.main-info-button {
    height: 20px;
}

section .handle-button {
    margin-right: 45px;
}

.card .image-text {
    width: 100%;
    border: 1px solid #e5e5e5;
    float: left;
    margin: 0 0px 30px 0px;
    background: white;
}

.card .image-text .text {
    width: 70%;
    float: left;
    position: relative;
}

.card .image-text .text textarea {
    width: 92%;
    padding: 3% 4%;
    min-height: 500px;
    line-height: 26px;
}

.card .image-text .text .errors {
    padding-left: 20px;
    font-size: 14px;
    line-height: 16px;
    color: #FF3E3E;
    position: absolute;
    bottom: -26px;
    left: 0;
}

.card .image-text .images {
    width: 209px;
    float: left;
    margin-top: 3%;
    margin-left: 58px;
}

.card .image-text .images .handle {
    width: 100%;
    max-width: 228px;
    float: left;
    margin-top: 20px;
}

.card .image-text .images .handle .add {
    width: 98px;
    cursor: pointer;
    float: left;
    margin-right: 11px;
}

.card .image-text .images .handle .add .icon {
    width: 100%;
    height: 98px;
    border: 1px solid #e5e5e5;
    position: relative;
    float: left;
}

.card .image-text .images .handle .add span {
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #949494;
    line-height: 36px;
    float: left;
}

.card .image-text .images .handle .add .icon i {
    background: url('../assets/images/icon_detail_edit.png') 0 0 no-repeat;
    width: 29px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
}

.card .image-text .images .handle .add .icon i {
    background-position: 0 -46px;
}

.card .image-text .images .handle .add .icon2 i {
    background-position: 0 -76px;
}

.group .dropbox {
    z-index: 3;
    margin-left: 129px;
    top:15px!important;
}
/*
.card .text_img {
    width: calc(100% - 50px) !important;
}*/

.file_up .preview {
    display: inline;
    z-index: 0;
}

.card .plain_text p {
    margin-bottom: 0px;
}

.mask {
    position: relative;
    left: 0;
    top: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 1);
}

.mask i {
    background: url('../assets/images/inputs/icon_uploadImg_remove.png') 0 0 no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
    background-position: 0 -42px;
    width: 28px;
    height: 28px;
    margin-top: -14px;
    margin-left: -14px;
}
.mask img {
    opacity:.5;
}

.image-text form {
    position: relative;
}

.image-text .file_up .file {
    height: 140px!important;
    position: absolute!important;
}

.topic-image {
    height:222px!important;
}

.card_base .detail_title .edit {
    position: initial!important;
}

.card_main .detail_title .edit .icon {
    position: initial!important;
}

.card_base .info li span.key {
    position: initial!important;
}

.card_base .info li span {
    float: initial!important;
}