
.template , .load_more, .cate {
    display: none;
}

.header .content .info li.login:after, .header .content .info li.logined:after {
    content:'';
    width:0px;
}

.header .content .info li.search {
    display: none;
}

.load_more {
    margin-bottom: 0px!important;
}

.directory .pro_column3 {
    margin-bottom: 110px;
}

.directory .pro_column3 .context span.name_project {
    font-size: 12px!important;
}

.waiting {
    width: 100%;
    text-align: center;
    margin-bottom: 48px;
    height: 110px;
}

#content {
    min-height: 200px;
}
