body {
    background: #F5F6F7;
}
.center {
    width:1170px;
    margin:0 auto;
}
.center .slide {
    width: 250px;
    padding: 30px 0;
    border: 2px solid #d7d7d8;
    background: #fff;
    float: left;
    margin-top:30px;
    margin-bottom: 120px;
}
.center .slide .nav {
    width: 150px;
    border-left: 2px solid #e4e4e4;
    float: left;
    margin-left:65px;
}
.center .slide .nav ul.item {
    padding-left:20px;
}
.center .slide .nav ul.item li {
    width:100%;
    float: left;
    margin-bottom:30px;
    position: relative;
}
.center .slide .nav ul.item li a.dt {
    width: 100%;
    line-height: 20px;
    color: #1b1b1b;
    font-size:20px;
    position: relative;
    cursor: pointer;
    float: left;
}
.center .slide .nav ul.item li div.dd {
    width: 100%;
    float: left;
    margin-top: 20px;
}
.center .slide .nav ul.item li div.dd a {
    display: block;
    margin-bottom: 20px;
}
.center .slide .nav ul.item li div.dd a.selected {
    color: #4283EA;
}
.center .slide .nav ul.item li .line {
    width:4px;
    height:20px;
    background: #4283ea;
    position: absolute;
    top:0;
    left:-23px;
    display: none;
}
.center .slide .nav ul.item li a.dt .arrow {
    background: #fff url(../images/inputs/arrow.png) 0 0 no-repeat;
    width: 14px;
    height: 7px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -3px;
}
.center .slide .nav ul.item li.selected .line {
    display: block;
}

.center .content {
    width: 887px;
    float: right;
    margin-top:30px;
    margin-bottom: 100px;
}
.center .declare .tabs {
    border: 1px solid #d7d7d8;
}
.center .declare .tabs span {
    line-height:48px;
    margin:0 30px;
    color: #777;
    position: relative;
    cursor: pointer;
}
.center .declare .tabs span:after {
    content: '';
    width:2px;
    height:16px;
    background: #dfe0e0;
    position: absolute;
    top:50%;
    right:-30px;
    margin-top:-8px;
}
.center .declare .tabs span:last-child:after {
    display: none;
}
.center .declare .tabs span.selected {
    color: #4283EA;
}
.center .declare .main .box {
    border: 1px solid #b9b9b9;
    min-height:51px;
    position: relative;
}
.center .declare .main .box .loading {
    text-align: center;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    z-index:8;
    background: rgba(255,255,255,.6);
}
.center .declare .main .box .loading img {
    width:100px;
    height:20px;
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-10px;
    margin-left:-50px;
}

.center .declare .main table {
    width:100%;
    border-collapse: collapse;
    background: #fff;
}
.center .declare .main table th {
    line-height:50px;
    text-align: center;
    font-size:16px;
    font-weight:normal;
    border: 2px solid #efefef;
    border-top:0;
}
.center .declare .main table td {
    height:44px;
    line-height:22px;
    border: 2px solid #efefef;
    vertical-align: middle;
    text-align: center;
}
.center .declare .main table td.text {
    padding:10px 20px;
    text-align: left;
}
.center .declare .main table td.text a {
    color: #4283EA;
    text-decoration: underline;
}
.center .declare .main table td.text .cause {
    color: #4283EA;
    text-align: center;
    cursor: pointer;
    display: block;
}

.center .declare .main table td.handle a {
    color: #4A90E2;
    display: inline-block;
    margin:0 5px;
}
.center .declare .main table th:first-child,
.center .declare .main table td:first-child {
    border-left: 0;
}
.center .declare .main table th:last-child,
.center .declare .main table td:last-child {
    border-right: 0;
}
.center .declare .main table tr:last-child td {
    border-bottom:0;
}
.center .collect li {
    width: 827px;
    padding: 30px;
    height: 180px;
    float: left;
    margin-bottom:30px;
    background: #fff;
    position: relative;
}
.center .collect li .pic {
    width: 240px;
    height: 180px;
    float: left;
    overflow: hidden;
}
.center .collect li .pic img {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.center .collect li .pic:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.center .collect li .context{
    display: table;
    padding: 21px 22px;
    background-color: #fff;
}
.center .collect li .context h4 {
    width: 100%;
    font-size: 24px;
    color: #1B1B1B;
    font-weight: 400;
    float: left;
    margin-bottom: 20px;
}
.center .collect li .context .cancel {
    color: #4283EA;
    position: absolute;
    top: 55px;
    right: 50px;
}
.center .collect li .context .doi {
    width: 100%;
    color: #949494;
    float: left;
    margin-bottom: 5px;
}
.center .collect li .context .cate {
    width: 100%;
    float: left;
    margin-bottom: 14px;
}
.center .collect li .context .cate span:first-of-type {
    font-size: 12px;
    color: #949494;
    line-height: 12px;
    letter-spacing: 1px;
    margin-left: 2px;
}
.center .collect li .context .cate span:last-of-type {
    font-size: 12px;
    color: #1B1B1B;
    line-height: 12px;
    margin-left: 11px;
}
.center .collect li .context .brief {
    width: 100%;
    font-size: 12px;
    line-height: 24px;
    color: #1B1B1B;
    float: left;
    margin-top: 16px;
    display: block;
}




.center .paging {
    margin:50px 0;
}
.center .paging ul {
    text-align: center;
}
.center .paging li {
    width:26px;
    line-height:26px;
    text-align: center;
    color: #B9B9B9;
    border: 1px solid #B9B9B9;
    display: inline-block;
    margin:0 5px;
    cursor: pointer;
}
.center .paging li.active {
    background:#4283EA;
    color: #fff;
    border-color: #4283EA;
}
.center .paging li.total {
    width:auto;
    border:0;
}


.page{
    list-style: none;
}
.page>li{
    float: left;
    padding: 5px 10px;
    cursor: pointer;
}
.page .pageItem{
    border: solid thin #DDDDDD;
    margin: 5px;
}
.page .pageItemActive{
    border: solid thin #0099FF;
    margin: 5px;
    background-color: #0099FF;
    color:white;
}
.page .pageItem:hover{
    border: solid thin #0099FF;
    background-color: #0099FF;
    color:white;
}
.page .pageItemDisable{
    border: solid thin #DDDDDD;
    margin: 5px;
    background-color: #DDDDDD;
}



.confirm {
    width:520px;
    min-height:126px;
    padding:30px;
    background: #fff;
    box-shadow: 0 2px 10px 0 rgba(26,26,26,0.16);
    position: fixed;
    top:50%;
    left:50%;
    margin-left:-290px;
    margin-top:-93px;
    z-index:11;
    display: none;
}
.confirm .head {
    line-height:28px;
    font-size:20px;
    position: relative;
}
.confirm .head span {
    cursor: pointer;
}
.confirm .head .close {
    background: url(../images/center/close.png) 0 0 no-repeat;
    width:18px;
    height:18px;
    position: absolute;
    top:50%;
    right:0;
    margin-top:-9px;
}
.confirm .content {
    margin-top:20px;
    margin-bottom:30px;
}
.confirm .content .text {
    color: #949494;
    line-height: 26px;
    max-height:200px;
    overflow-y: auto;
}
.confirm .handle {
    text-align: right;
}
.confirm .handle a {
    padding:10px 15px;
    color: #777;
    display: inline-block;
    margin-left:48px;
    cursor: pointer;
}
.confirm .handle a.sure {
    color: #4283EA;
}









