@font-face {
    font-family: DINPro;
    src: url('../font/DINPro-Regular.otf');
}

html,
body,
div,
span,
object,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
textarea,
a,
em,
img,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 16px;
    vertical-align: baseline;
    font-family: "PingFang SC", "Microsoft YaHei Light", "Microsoft YaHei";
    text-align: justify;
}

body {
    line-height: 1;
}

html,
body {
    height: 100%
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary {
    display: block;
}

h3,
h4,
strong {
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ul,
li,
dl {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

i,
em {
    font-style: normal;
}

div:after,
div:before {
    content: '';
}

input, textarea, select {
    outline: none;
}

textarea {
    resize: none
}

/*--//End--reset--*/

/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/

.dropbox .item dd::-webkit-scrollbar,
.suggest ul::-webkit-scrollbar,
.scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/*定义滚动条的轨道，内阴影及圆角*/

.dropbox .item dd::-webkit-scrollbar-track,
.suggest ul::-webkit-scrollbar-track,
.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background-color: #fff;
}

/*定义滑块，内阴影及圆角*/

.dropbox .item dd::-webkit-scrollbar-thumb,
.suggest ul::-webkit-scrollbar-thumb,
.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(148, 148, 148, .5);
}

/*--//End 自定义滚动条--*/

.bd {
    width: 100%;
    float: left;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}

.container {
    min-width: 1200px;
    position: relative;
    margin: 0 auto;
}

#home-header a {
    color: #fff;
}

.header {
    width: 100%;
    min-width: 1200px;
    height: 44px;
    padding: 48px 0;
    z-index: 10;
    background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6));

}

.header .icon {
    background-image: url(../images/icon@2x.png);
    -webkit-background-size: 37px auto;
    background-size: 37px auto;
    width: 19px;
    height: 24px;
    opacity: 1;
    display: inline-block;
    position: relative;
    top: 10px;
}

.header .content {
    min-width: 1200px;
    margin: 0 auto;
}

.header .content a {
    height: 44px;
    line-height: 44px;
    font-size: 12px;
    color: #949494;
    float: left;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.header .content a.active {
    opacity: 1;
}

.header .content .logo {
    background: url(../images/logo@2x.png) no-repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    width: 220px;
    height: 102px;
    opacity: 1;
    -webkit-transition: all .3s;
    transition: all .3s;
    float: left;
    margin-top: -30px;
    margin-left: 4%;
    margin-right: 17px;
}

.header .content .nav,
.header .content .info {
    -webkit-transition: all .3s;
    transition: all .3s;
}

.header .content .nav {
    float: left;
    margin-left: 40px;
}

.header .content .nav li {
    padding: 0 20px;
    float: left;
}

.header .content .nav li:hover a,
.header .content .nav li.active a {
    opacity: 1;
}

.header .content .nav a {
    position: relative;
    font-size: 14px;
}

.header .content .nav a:after {
    content: '';
    width: 0;
    height: 2px;
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.header .content .nav a:hover {
    opacity: 1;
}

.header .content .nav li:hover a:after,
.header .content .nav li.active a:after {
    width: 100%;
}
.header .content .info {
    float: right;
    margin-right: 4%;
}
.header .content .info li {
    float: left;
}
.header .content .info li em {
    font-size: 12px;
    color: #fff;
}
.header .content .info li.login,
.header .content .info li.logined {
    margin-right: 18px;
    padding-right: 18px;
    position: relative;
}
.header .content .info li.login i {
    background-position: 0 -23px;
    float: left;
    margin-right: 6px;
}
.header .content .info li.login:after,
.header .content .info li.logined:after{
    content: '';
    width: 1px;
    height: 8px;
    background: rgba(255, 255, 255, .2);
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -2px;
    background: #fff;
}
.header .content .info li.logined {
    width: 92px;
    padding-left: 14px;
    padding-right: 14px;
    border: 1px solid transparent;
    position: absolute;
    top:33px;
    right:132px;
    z-index:2;
}
.header .content .info li.logined .main .item {
    width:100%;
    float: left;
    padding-top:20px;
    padding-bottom:20px;
    text-align: center;
    border-top: 1px solid #E5E5E5;
    display: none;
}
.header .content .info li.logined .main .item a {
    font-size: 14px;
    height:14px;
    line-height:14px;
    float: none;
}
.header .content .info li.logined .main .user {
    border:0;
}
.header .content .info li.logined .main .user a {
    width: 33px;
    height: 33px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    float: left;
    margin-right: 5px;
    background: #eee;
}
.header .content .info li.logined .main .user img {
    width: 33px;
    height: 33px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    float: left;
}
.header .content .info li.logined .main .user span {
    width: 52px;
    line-height: 33px;
    font-size: 12px;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    float: left;
}
.header .content .info li.logined .main .user {
    display: block;
}
.header .content .info li.logined.active {
    border: 1px solid #fff;
    background: #fff;
    display: block;
}
.header .content .info li.logined.active .item {
    display: block;
}
.header .content .info li.logined.active .main .item a {
    color: #666!important;
}
.header .content .info li.logined.active .main .user span {
    color: #666!important;
}
.header .content .info li.logined.active:after {
    display: none;
}



.header .content .info li.language a.zh {
    margin-right: 6px;
}
.header .content .info li.search {
    display: none;
}
.header .content .info li.search i {
    background-position: 0 0;
}
.header.active {
    padding: 18px 0;
    background: #fff;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    position: fixed;
}
.header.active .content a {
    color: #1b1b1b !important;
}
.header.active .content .logo {
    background: url(../images/logo_fixed@2x.png) no-repeat 0 0;
    -webkit-background-size: 210px auto;
    background-size: 210px auto;
    width: 210px;
    height: 80px;
    margin-top: -18px;
}
.header.active .content .nav a:after {
    background: #1b1b1b;
}
.header.active .content .info li.login i {
    background-position: -18px -23px;
}
.header.active .content .info li.login em {
    color: #333;
}
.header.active .content .info li.login:after {
    background: #D8D8D8;
}
.header.active .content .info li.language {
    display: none;
}
.header.active .content .info li.search {
    display: block;
}
.header.active .content .info li.search i {
    background-position: -19px 0;
    cursor: pointer;
}

.header.active .content .info li.logined {
    top:5px;
    right: 98px;
}
.header.active .content .info li.logined:after {
    background: #D8D8D8;
    top:36px
}
.header.active .content .info li.logined .main .user span {
    color: #666!important;
}
.header.active .content .info li.logined.active {
    border: 1px solid #e5e5e5;
}







.header_detail {
    background: #fff;
    position: relative;
}
.header_detail .content a {
    color: #333;
}
.header_detail .content .nav a:after {
    background: #000;
}
.header_detail .content .language {
    display: none;
}
.header_detail .content .info li.search {
    display: block;
}
.header_detail .content .info li.search i {
    background-position: -19px 0;
    cursor: pointer;
}
.header_detail .content .info li.search.active i {
    background: url(../images/icon_search_close.png) 0 0 no-repeat;
}
.header_detail .content .info li.login:after {
    background: #D8D8D8;
}
.header_detail .content .info li.login.line:after {
    background: #fff;
}
.header_detail .content .info li em {
    color: #1B1B1B;
}
.header_detail .content .info li.login i {
    background-position: -19px -24px
}

.header_detail .content .info li.logined {
    right:98px;
}
.header_detail .content .info li.logined:after{
    content: '';
    width: 1px;
    height: 8px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -2px;
    background: #D8D8D8;
}
.header_detail .content .info li.logined .main .user span {
    color: #666!important;
}
.header_detail .content .info li.logined.active {
    border-color: #e5e5e5;
}


/*--//End header 基本--*/

.drop_menu {
    height: 400px;
    background: #1B1B1B;
    position: absolute;
    top: 180px;
    left: 0;
    right: 0;
    z-index: 10;
    display: none;
}

.drop_menu .content {
    width: 1080px;
    height: 100%;
    margin: 0 auto;
    color: #fff;
}

.drop_menu .content .item {
    float: left;
    margin-left: 74px;
}

.drop_menu .content .item dl {
    float: left;
}

.drop_menu .content .item dt {
    font-size: 16px;
    height: 56px;
    line-height: 28px;
    margin-top: 50px;
    margin-bottom: 40px;
    display: block;
}

.drop_menu .content .item dt a {
    font-size: 16px;
    line-height: 18px;
    color: #fff;
}

.drop_menu .content .item dd {
    display: block;
}

.drop_menu .content .item dd a {
    width: 100%;
    font-size: 14px;
    height: 28px;
    line-height: 17px;
    color: #fff !important;
    opacity: .5;
    float: left;
}

.drop_menu .content .item dd a:hover {
    opacity: 1;
}

.drop_menu.active .item dt a {
    color: #fff !important;
}

.drop_menu_en .content .item {
    margin-left: 0;
}

.drop_menu_en {
    height: 576px;
}

.drop_menu_en .content .item dt {
    margin-top: 40px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 20px;
}

.drop_menu_en .content .item dt a {
    line-height: 20px;
}

.drop_menu_en .content .item dd a {
    height: 17px;
    line-height: 17px;
    margin-bottom: 20px;
}

/*--//ENd 导航二级菜单*/

.filter_search_fixed {
    position: fixed !important;
    left: 0;
    right: 0;
    z-index: 11;
    display: none
}

.filter_search {
    width: 100%;
    height: 300px;
    background: #fff;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    position: relative;
    z-index: 9;
}

.filter_search .content {
    width: 100%;
    float: left;
}

.filter_search .content form {
    background: #fff;
    width: 960px;
    height: 38px;
    padding: 27px 0;
    border-bottom: 2px solid #1B1B1B;
    position: relative;
    margin: 60px auto 80px auto;
}

.filter_search .content form .ipt {
    width: 100%;
    height: 56px;
    line-height: 44px;
    font-size: 44px;
    color: #1B1B1B;
}

.filter_search .content form .submit {
    background: url(../images/search1.png) no-repeat;
    width: 47px;
    height: 45px;
    line-height: 999px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -23px;
    cursor: pointer;
    overflow: hidden;
}

.filter_search .content form .suggest {
    top: 94px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.filter_search .content .attr {
    width: 100%;
    float: left;
    text-align: center;
}

.filter_search .content .attr span {
    padding-right: 20px;
    font-size: 24px;
    line-height: 22px;
    position: relative;
    display: inline-block;
    margin: 0 24px;
    cursor: pointer;
}

.filter_search .content .attr span:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #949494;
    position: absolute;
    top: 10px;
    right: 0;
}

.dropbox {
    width: 100%;
    float: left;
    position: relative;
    top: 60px;
}

.dropbox .item {
    background: #fff;
    padding: 48px;
    position: absolute;
    -webkit-box-shadow: 0 0px 10px rgba(0, 0, 0, .1);
    box-shadow: 0 0px 10px rgba(0, 0, 0, .1);
    top: 0;
    display: none;
}

.dropbox .item dl {
    width: 232px;
    padding-right: 10px;
    float: left;
}

.dropbox .item dt div {
    width: 100%;
    float: left;
}

.dropbox .item dt .title {
    font-size: 15px;
    color: #949494;
    margin-bottom: 22px;
}

.dropbox .item dt .subtitle {
    font-size: 20px;
    color: #4990E2;
    margin-bottom: 10px;
}

.dropbox .item dd {
    width: 202px;
    padding-right: 30px;
    max-height: 250px;
    float: left;
    overflow-y: auto;
}

.dropbox .item dd li,
.dropbox .item dd li a {
    width: 100%;
    line-height: 28px;
    font-size: 18px;
    float: left;
    margin: 8px 0;
    cursor: pointer;
}

.dropbox .item dd li span {
    color: #333;
    float: right;
}

.dropbox .item dd li.active,
.dropbox .item dd li:hover {
    color: #4990E2;
}

.dropbox .item dl.level2,
.dropbox .item dl.level3 {
    padding-right: 18px;
    display: none;
}

.dropbox .item dl.level2 dt {
    padding-left: 38px;
}

.dropbox .item dl.level2 dd {
    padding-left: 38px;
}

/*--//End header --*/

.overbg,
.overbg0 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    z-index: 2;
}

/*--//End 遮罩层--*/

.footer {
    /*background: #161616 url(../images/footer_bg.png) top center no-repeat;*/
    width: 100%;
    min-width: 1200px;
    float: left;
}

.footer .hd {
    width: 1200px;
    margin: 0 auto;
}

.footer .diich {
    width: 100%;
    float: left;
    padding: 60px 0;
    background: #222;
}

.footer .diich p {
    color: #fff;
    opacity: .5;
}

.footer .diich .logo {
    background: url(../images/footer_logo@2x.png) 0 0 no-repeat;
    -webkit-background-size: 178px auto;
    background-size: 178px auto;
    width: 178px;
    height: 46px;
    float: left;
}

.footer .diich .logo a {
    width: 178px;
    height: 46px;
    float: left;
}

.footer .main {
    width: 100%;
    padding: 40px 0;
    float: left;
    background: #1B1B1B;
}

.footer .main .lbox {
    line-height: 36px;
    float: left;
}

.footer .main .lbox span {
    font-size: 14px;
    color: #fff;
    float: left;
    margin-right: 60px;
}

.footer .main .lbox em {
    opacity: 0.5;
    color: #fff;
    font-size: 12px;
}

.footer .main .rbox {
    float: right;
}

.footer .main .rbox .share {
    position: absolute;
    right: 7%;
}

.footer .main .rbox .share a {
    background: url(../images/share.png) no-repeat;
    width: 16px;
    height: 16px;
    float: left;
    margin-left: 28px;
}

.footer .main .rbox .share a.facebook {
    background-position: 0 0;
}

.footer .main .rbox .share a.twitter {
    background-position: 0 -16px;
}

.footer .main .rbox .share a.instagram {
    background-position: 0 -32px;
}

.footer .main .rbox .share a.linkedin {
    background-position: 0 -48px;
}

.footer .main .rbox .code {
    position: absolute;
    top: 50px;
    right: 0;
}

/*--//ENd footer--*/

.play_big {
    background: url(../images/play_big.png) no-repeat 0 0;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
    cursor: pointer;
    z-index: 2;
}

.play_big:hover {
    background-position: 0 -120px;
}

.play_sm {
    background: url(../images/play_sm.png) no-repeat 0 0;
    width: 24px;
    height: 24px;
}

/*--//End 播放按钮组件*/

.side_fixed {
    position: fixed;
    bottom: 100px;
    right: 40px;
    z-index: 9;
    display: none;
}

.side_fixed ul {
    display: block;
}

.side_fixed li {
    height: 34px;
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    color: #949494;
    cursor: pointer;
    position: relative;
}

.side_fixed li span {
    position: absolute;
    top: 0;
    right: 50px;
    white-space: nowrap;
    -webkit-transition: all .3s;
    transition: all .3s;
    opacity: 0;
    display: none;
}

.side_fixed li strong {
    width: 30px;
    float: right;
    margin-bottom: 20px;
    -webkit-transition: all .3s;
    transition: all .3s;
    text-align: center
}

.side_fixed li:after {
    content: '';
    width: 14px;
    height: 3px;
    background: #4183ea;
    position: absolute;
    top: 50%;
    right: 30px;
    margin-top: -12px;
    -webkit-transition: all .3s;
    transition: all .3s;
    opacity: 0;
}

.side_fixed li.active {
    color: #333;
}

.side_fixed li:hover {
    font-size: 24px;
    color: #333;
}

.side_fixed li:hover span,
.side_fixed li.active span {
    font-size: 24px;
    opacity: 1;
    display: block;
}

.side_fixed li:hover:after,
.side_fixed li.active:after {
    opacity: 1;
}

.side_fixed li:hover strong,
.side_fixed li.active strong {
    font-size: 24px;
}

.side_fixed a.gotop {
    background: url(../images/gotop.png) no-repeat 0 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 3;
    float: left;
}

.side_fixed a.gotop:hover {
    opacity: .5;
}

/*--//End 返回顶部*/

.crumbs {
    width: 1170px;
    height: 16px;
    margin: 50px auto 0 auto;
    position: relative;
    z-index: 2;
}

.crumbs span,
.crumbs span a {
    height: 16px;
    line-height: 16px;
    color: #fff;
    opacity: .7;
    float: left;
}

.crumbs span a:hover {
    opacity: 1;
}

.crumbs span.last {
    opacity: .3;
}

.crumbs .gt {
    background: url(../images/crumbs_gt.png) no-repeat 0 0;
    width: 8px;
    height: 14px;
    float: left;
    margin: 1px 8px;
}

/*--//End crumbs--*/

.card_video {
    width: 100%;
    float: left;
}

.card_video video {
    width: 100%;
    height: 100%;
    float: left;
    background-size: cover;
    object-fit: fill;
}

.card_video .time {
    width: 60px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: rgba(0, 0, 0, 1);
    color: #fff;
    font-size: 16px;
    font-family: "DINPro";
    position: absolute;
    top: 10px;
    right: 10px;
}

.card_video .play {
    background: url(../images/play_80.png) no-repeat 0 0;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    cursor: pointer;
    z-index: 2;
}

/*--//End card_video--*/

.doi_gray {
    background: url(../images/qrcode.png) no-repeat -28px 0;
    width: 28px;
    height: 28px;
    display: inline-block;
}

/*--//End--*/

.detail_title {
    position: relative;
}

.detail_title h2 {
    padding-right: 340px;
    font-size: 44px;
    line-height: 50px;
    color: #333;
}

.detail_title .edit {
    color: #4283ea;
    padding-left: 16px;
    position: absolute;
    top: -20px;
    right: 0;
}

.detail_title .edit .icon {
    background: url(../images/icon_detail_edit2.png) 0 0 no-repeat;
    width: 12px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
}

.detail_title .doi_code {
    background: #4283EA;
    line-height: 28px;
    padding-left: 7px;
    color: #fff;
    font-size: 12px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -14px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}

.detail_title .doi_code {
    top: 26px
}

.detail_title .doi_code .icon {
    width: 28px;
    height: 28px;
}

.detail_title .doi_code i.icon {
    height: 16px;
    line-height: 16px;
    text-align: center;
    border: 1px solid #fff;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}

.detail_title .doi_code em.icon {
    background: url(../images/qrcode.png) no-repeat 0 -28px;
    float: right;
    margin-left: 5px;
    display: none;
}

.detail_title .doi_code span {
    padding-right: 7px;
    float: left;
}

.detail_title .doi_code .drop {
    width: 108px;
    height: 108px;
    padding: 10px;
    position: absolute;
    top: 28px;
    right: 0;
    background: #fff;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    display: none;
}

.detail_title .doi_code .drop img {
    float: left
}

.detail_title .doi_code .drop:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    position: absolute;
    top: -5px;
    right: 12px;
}

/*--//ENd 详情title*/

.avatar {
    float: left;
    margin-right: 10px;
}

.avatar img {
    width: 100%;
    -webikt-border-radius: 50%;
    border-radius: 50%;
}

/*--//End 圆角头像--*/

.video .play {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: rgba(0, 0, 0, .2);
    border: 1px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.video .play i {
    background: url(../images/detail_icon.png) no-repeat 0 -180px;
    width: 26px;
    height: 34px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -9px;
    margin-top: -17px;
}

.video .play:hover {
    background: rgba(255, 255, 255, .3);
}

.video .play.play120 {
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-left: -60px;
}

.video .time {
    font-family: DINPro;
    background: rgba(0, 0, 0, .5);
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    color: #fff;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    position: absolute;
    top: 10px;
    right: 10px;
}

/*--//End 视频相关*/

.slide_img {
    width: 100%;
    height: 600px;
    float: left;
    position: relative;
    background: #212121;
    overflow: hidden;
}

.slide_img img {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1400px;
}

/*--//End 通屏图片--*/

a.arrow_right {
    position: relative;
    padding-right: 24px;
}

a.arrow_right:after {
    content: '';
    background: url(../images/detail_icon.png?t=2) no-repeat 0 -144px;
    width: 19px;
    height: 14px;
    -webkit-transition: all .3s;
    transition: all .3s;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -7px;
}

a.arrow_right:hover {
    color: #4283EB !important;
}

a.arrow_right:hover:after {
    background-position: -28px -144px;
}

/*--//End--*/

.suggest {
    width: 100%;
    height: 116px;
    background: #fff;
    position: absolute;
}

.suggest ul {
    width: 100%;
    /*height: 120px;*/
    float: left;
    overflow: hidden;
}

.suggest li {
    width: 100%;
    height: 25px;
    line-height: 25px;
    float: left;
    margin-top: 18px;
}

.suggest li a {
    font-size: 20px;
}

.suggest li a:hover {
    text-decoration: underline;
}

.suggest li span {
    font-size: 20px;
    color: #949494;
}

.suggest li.hover a,
.suggest li.hover a span {
    color: #4990E2
}

/*--//End suggest--*/

.doi {
    width: 100%;
    float: left;
}

.doi span {
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    float: left;
}

.doi span.tag {
    border: 1px solid #eee;
    width: 24px;
    text-align: center;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    float: left;
    position: relative;
    background: #fafafa;
}

/*--//End doi图标部分--*/

.icon_list_cate,
.icon_list_user,
.icon_list_album {
    background: url(../images/icon_list.png) no-repeat;
    width: 18px;
    height: 22px;
    display: inline-block;
    position: relative;
    top: 5px;
    margin-left: 10px;
}

.icon_list_cate {
    background-position: 0 0;
}

.icon_list_user {
    background-position: 0 -22px;
}

.icon_list_album {
    background-position: 0 -44px;
}

/*--//End */
.box_layer .item {
    width: 432px;
    height: 440px;
    padding: 0 74px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -245px;
    margin-left: -375px;
    background: #f7f7f7;
    z-index: 20;
}

.box_layer .register {
    height: 622px;
    margin-top: -380px;
}

.box_layer .reset {
    height: 500px;
    margin-top: -315px;
}

/*--//End 弹出层--*/

.form_area .title {
    width: 100%;
    font-size: 44px;
    color: #1B1B1B;
    height: 44px;
    float: left;
    margin-top: 50px;
    margin-bottom: 30px;
    position: relative;
    text-indent: 64px;
}

.form_area .title .close {
    background: url(../images/icon_login_close.png) 0 0 no-repeat;
    width: 44px;
    height: 44px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -22px;
    cursor: pointer;
}

.form_area .group {
    width: 100%;
    position: relative;
    float: left;
    margin-bottom: 20px;
}

.form_area .group .area {
    width: 360px;
    float: left;
    position: relative;
    display: block;
}

.form_area .group .area label {
    font-size: 14px;
    color: #949494;
}

.form_area .group .area label input {
    display: inline-block;
    position: relative;
    top: 2px;
}

.form_area .group .ipt {
    width: 318px;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    border: 1px solid #e5e5e5;
    float: left;
}

.form_area .group .name {
    width: 66px;
    height: 66px;
    line-height: 66px;
    color: #000;
    opacity: .7;
    float: left;
}

.form_area .group .name em {
    width: 14px;
    font-size: 24px;
    color: #D0011B;
    float: left;
    margin-right: 10px;
}

.form_area .group .name span {
    width: 50px;
    color: #000;
    cursor: pointer;
    text-align: justify;
    text-align-last: justify;
    float: left;
    margin-right: 14px;
}

.form_area .group .code {
    height: 16px;
    color: #4283EB;
    position: absolute;
    top: 50%;
    right: 30px;
    margin-top: -8px;
}

.form_area .group .code span.active {
    color: #9B9B9B;
}

.form_area .group.policy {
    height: 16px;
    line-height: 16px;
    margin-bottom: 40px;
}

.form_area .group .forget {
    color: #9B9B9B;
    float: right;
    margin-top: 14px;
}

.form_area .group .btn {
    width: 180px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    background: #4283EA;
    color: #fff;
    font-size: 24px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

.form_area .group .arrow_right {
    color: #949494;
    float: right;
    margin: 24px 0;
}

.form_area .group.error .ipt {
    border: 1px solid #ed5731;
}

.form_area .group.error .error_txt {
    font-size: 12px;
    color: #ed5731;
    position: absolute;
    top: 68px;
    left: 20px;
}

.box_layer_en .item {
    width: 500px;
}

.box_layer_en .form_area .group .area {
    width: 400px;
}

.box_layer_en .form_area .title {
    text-indent: 100px;
}

.box_layer_en .form_area .name {
    width: 100px;
}

.box_layer_en .form_area .ipt {
    width: 356px;
}

/*--//End 表单相关--*/
.progress {
    background: #000;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
}

.progress span {
    background: #4283ea;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
}

.refresh {
    width: 100%;
    height: 2px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
}

.filter_search .progress {
    top: 92px
}

/*--//End 刷新页面/搜索--进度条*/

