<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">

    <dubbo:application name="userService" />
    <dubbo:registry  protocol="zookeeper"  address="${dubbo.registry.address}" />
    <dubbo:reference id="sysUserService" interface="com.diich.core.service.SysUserService" />
    <dubbo:reference id="ichItemService" interface="com.diich.core.service.IchProjectService" />
    <dubbo:reference id="userService" interface="com.diich.core.service.UserService" />

</beans>