<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">

    <dubbo:application name="dubbo-consumer" />
    <dubbo:registry  protocol="zookeeper"  address="${dubbo.registry.address}" timeout="120000"/>
    <dubbo:reference id="ichProjectService" interface="com.diich.core.service.IchProjectService"  timeout="120000"/>
    <dubbo:reference id="userService" interface="com.diich.core.service.UserService" timeout="120000" />
    <dubbo:reference id="ichMasterService" interface="com.diich.core.service.IchMasterService" timeout="120000"/>
    <dubbo:reference id="dictionaryService" interface="com.diich.core.service.DictionaryService" timeout="120000" />
    <dubbo:reference id="ichCategoryService" interface="com.diich.core.service.IchCategoryService" timeout="120000" />
    <dubbo:reference id="workService" interface="com.diich.core.service.WorksService" timeout="120000" />
    <dubbo:reference id="versionService" interface="com.diich.core.service.VersionService" timeout="120000" />

</beans>